.tournamentInfo__paragraph-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1100px;
  margin: 65px 0 60px -45px;

}

@media screen and (max-width: 768px) {
  .tournamentInfo__paragraph-right {
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  .tournamentInfo__paragraph-right {
    width: 80%;
    margin-right: auto;
    margin-left: 0;
    margin-top: 50px;
  }
}