.tournamentInfo__paragraph-right{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 700px;
  margin: 65px 0 60px -55px;

}

@media screen and (max-width: 768px) {

  .tournamentInfo__paragraph-right{
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
}