.tournamentInfo__table {
  position: relative;
  border-collapse: collapse;
  table-layout: auto;
  margin: 30px auto 25px;
  padding: 0;
  width: 100%;
  display: block;
}

@media screen and (min-width: 769px) {
  .tournamentInfo__table {
    margin: 0 auto 45px;
  }
}