.tournamentInfo__table{
  border-collapse: collapse;
  table-layout: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .tournamentInfotable {
    display: block;
  }}