.tournamentInfo__table__line:last-child .tournamentInfo__table__cell {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .tournamentInfo__table__line {
    display: block;
    position: relative;
    padding: 13px 0 4px 0;
  }

  .tournamentInfo__table__line::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    border-bottom: 2px solid #D0D0D0;
  }

  .tournamentInfo__table__line:last-child::after {
    border-bottom: none;
  }
}