
/* .tournamentInfo__table__line:first-child .tournamentInfo__table__cell {
  padding-top: 0;
} */

.tournamentInfo__table__line:last-child .tournamentInfo__table__cell {
  /* padding-bottom: 0; */
  border-bottom: none;
}

 /* @media screen and (max-width: 768px) {
  .tournamentInfo__table__line {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
} */

@media screen and (max-width: 768px) {
  .tournamentInfo__table__line {
    display: block;
    position: relative;
    padding: 13px 0 4px 0;
  }

  .tournamentInfo__table__line::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90vw;
    border-bottom: 2px solid #D0D0D0;
  }

  .tournamentInfo__table__line:last-child::after {
    border-bottom: none;
}
}