@media screen and (min-width: 767px) {
  .tournamentInfo__title-bender{
    font-size: 36px;
    line-height: 1.35;
    max-width: 764px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 0 0 20px;

  }
}