.tournamentInfo__collage{
  grid-row-start: 1;
  grid-row-end: 8;
  margin: -42px 0 0 -28px;
}

@media screen and (max-width: 767px){
  .tournamentInfo__collage{
    margin: 0 auto 10px;
    width: 100%;
}}