.runningLine {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 38px;
  background-color: #F54932;

  width: 100%;
  white-space: nowrap;
}
@media (min-width: 769px) {
  .runningLine {
    height: 60px;
  }
}
