.tournametMember__container {
  max-width: 1222px;
  width: 100%;
  /* margin: 200px auto 139px; */
  position: relative;
}

/* @media (max-width: 768px) {
  .tournametMember__container {
    width: 90%;
    /* margin: 117px auto 162px; */
  