.tournamentStages__list {
  list-style: none;
  counter-reset: decimal-circled-counter;
}

@media (width >= 767px) {
  .tournamentStages__list {
    display: grid;
    gap: 20px;
    width: 100%;
  }
}

@media (765px <= width < 1222px) {
  .tournamentStages__list {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-3"
      "item-4 item-5"
      "item-6 item-6"
      "item-7 item-7";
    max-width: 100%;
  }
}

@media (width >= 1222px) {
  .tournamentStages__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-5 item-3"
      "item-6 item-7 item-7";
  }
}

@media (width <= 768px) {
  .tournamentStages__list {
    display: block;
  }

  .tournamentStages__list-item {
    display: none;
  }
}