.tournamentInfo__title{
  font-size: 28px;
  line-height: 1.3;
  color: black;
  /* overflow-wrap: break-word; */
  max-width: 100%;
  align-self:center;
}

.tournamentInfo__title span:first-child {
  order: 1;
 }

 .tournamentInfo__title span:last-child {
  order: 2;
 }

@media screen and (min-width: 767px) {
  .tournamentInfo__title{
  max-width: 764px;
  font-size: 36px;
  }

  .tournamentInfo__title span:first-child {
    order: 2;
    }

    .tournamentInfo__title span:last-child {
    order: 1;
    }
}