
@media screen and (max-width: 1050px) {
  .tournamentInfo__title__text:last-child {
    order: 1;
  }
}


/* @media screen and (max-width: 960px) {
  .tournamentInfo__title__text {
    font-size: 28px;
    line-height: 38.2px;
    display: block;
  }
} */
