
@media screen and (max-width: 1050px) {
  .tournamentInfo__title__text:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}


@media screen and (max-width: 600px) {
  .tournamentInfo__title__text {
    font-size: 28px;
    line-height: 38.2px;
    display: block;
  }
}
