.tournametMember__photo {
  width: 320px;
  height: 320px;
}

@media screen and (max-width: 960px) {
  .tournametMember__photo {
    width: 290px;
    height: 290px;
  }}

@media screen and (max-width: 768px) {
.tournametMember__photo {
  width: 244px;
  height: 244px;
}
}