.header__button_moreDetailed{
  margin: 14px auto 0;
  border: 0;
  background-color: #FFFFFF;
  opacity: 90%;
  line-height: 130%;
}

.header__button_moreDetailed:hover{
  background-color:#1F1F1F;
  color: #FFFFFF;
}

@media screen and (min-width:768px) {
  .header__button_moreDetailed{
    margin: 0 0 0 7px;
  }

}