.tournamentMembers__picture {
  display: block;
  margin-bottom: 27px;
  width: 244px;
  height: 244px;
  background-image: url('../../../images/chess-player.jpg');
  background-repeat: no-repeat;
}
@media (434px <= width <= 833px) {
  .tournamentMembers__picture {
    width: 320px;
    height: 320px;
    background-image: url('../../../images/chess-player.jpg');
  }
}
@media (834px <= width <= 951px) {
  .tournamentMembers__picture {
    background-image: url('../../../images/chess-player.jpg');
  }
}
@media (952px <= width <= 1188px) {
  .tournamentMembers__picture {
    width: 320px;
    height: 320px;
    background-image: url('../../../images/chess-player.jpg');
  }
}
@media (1189px <= width <= 1365px) {
  .tournamentMembers__picture {
    background-image: url('../../../images/chess-player.jpg');
  }
}
@media (width >= 1366px) {
  .tournamentMembers__picture {
    width: 320px;
    height: 320px;
    background-image: url('../../../images/chess-player.jpg');
  }
}
