.tournamentInfo__img-ellipse{
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 50% 50%;
}

@media screen and (max-width:960px) {
  .tournamentInfo__img-ellipse{
    width: 310px;
  }
}

@media screen and (max-width:768px) {
  .tournamentInfo__img-ellipse{
    width: 335px;
  }
}