.tournametMembers__list {
  display: flex;
  column-gap: 20px;
  position: relative;
  left: 0px;
  transition: transform 0.5s;
}

@media (max-width: 768px) {
  .tournametMembers__list {
    column-gap: 0;
  }}