.tournametMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 394px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .tournametMember {
    width: 100%;
  }
}

@media screen and (min-width:769px) and (max-width: 1350px) {
  .tournametMember {
    width: 50%;
  }
}