.header__background {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  height: 775px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../images/header-background-mobile.jpg');
  z-index: -1;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .header__background {
      background-image: url('../../../images/header-background-desktop.jpg');
      height: 700px;
  }
}