.header__title_bottom {
  display: block;
  text-align: right;
  line-height: 110%;
}

@media screen and (min-width:768px) {
  .header__title_bottom {
    margin: -5px 0 0 33px;
    text-align: left;
  }
}