.header__title {
  display: inline;
  width: 100%;
  font-size: 36px;
  margin: 40px auto 0;
}

@media screen and (min-width: 769px) {
  .header__title {
    width: 450px;
    font-size: 55px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header__title {
    width: 542px;
    font-size: 60px;
  }
}