.tournamentInfo__link {
  font-family: "GolosText";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #3057A2;
  text-decoration: none;
  background-color: transparent;
  margin: -55px 0 0 0;
}

@media screen and (max-width: 768px) {
  .tournamentInfo__link {
    margin: 0;
    font-size: 18px;
  }
}