.tournamentInfo__img{
  max-width: 100%;
  height: auto;
  align-self: center;
}

/* @media screen and (min-width: 767px) {
  .tournamentInfo__img{ */
    /* width: 394px; */
    /* height: 250px; */
    /* margin: 0 0 0 64px; */
  /* }
} */