.tournamentStages__list-container {
  min-height: 300px;
  position: relative;
  padding: 0;
  margin: 55px 0 0 0;
  width: 100%;
}

.tournamentStages__list-container:after {
  content: "";
  position: absolute;
  background-image: url('../../../images/flight.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .tournamentStages__list-container {
    padding-top: 148px;
    margin: 0;
  }

  .tournamentStages__list-container:after {
    width: 100%;
    height: 200px;
    top: 10px;
    left: 10px;
    background-position: center top;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .tournamentStages__list-container:after {
    width: 350px;
    height: 235px;
    right: 0;
    bottom: -40px;
  }
}

@media (min-width: 1366px) {
  .tournamentStages__list-container:after {
    width: 400px;
    height: 235px;
    right: -60px;
    bottom: 0px;
  }
}