.tournamentStages__list-tournametMember__container {
  min-height: 300px;
  position: relative;
  padding: 0;
}
.tournamentStages__list-tournametMember__container::after {
  content: "";
  width: 335px;
  height: 182px;
  position: absolute;
  top: 28px;
  right: calc(50% - 202px);
  background-image: url('../../../images/flight.png');
  background-size: contain;
}
@media (width <= 849px) {
  .tournamentStages__list-tournametMember__container {
    overflow: hidden;
    padding-top: 148px;
  }
}
@media (width >= 850px) {
  .tournamentStages__list-tournametMember__container {
    width: 100%;
  }
  .tournamentStages__list-tournametMember__container::after {
    width: 400px;
    height: 235px;
    bottom: -1px;
    right: -60px;
    top: unset;
  }
}
